.scrollable-list {
  overflow-y: auto;   /* vertical scroll */
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 850px ;
  gap: 12px;          /* spacing between cards */
  padding-right: 8px; /* prevent content hiding under scrollbar */
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Optional scrollbar styling */
.scrollable-list::-webkit-scrollbar {
  width: 6px;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}


/*------------------------------ Sorting Letter -----------------------------------*/
.letter-header {
  position: sticky;
  top: 0; /* sticks to the top of the scrollable container */
  background: rgb(255, 255, 255); /* match your container bg */
  font-weight: bold;
  padding: 8px 12px;
  color: #2f80ed;
  border-bottom: 3px solid #2f80ed;
  z-index: 10; /* so it stays above cards */
}

.scrollable-list {
  max-height: 400px; 
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 8px;
}
